<!DOCTYPE html>
<html>
<head>
	<title>drag</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/nouislider.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="../static/js/nouislider/nouislider.min.js"></script>
</head>
<body>
    <div>
        <div id="drag"></div>
    </div>


<script>
    var dragSlider = document.getElementById('drag');
    noUiSlider.create(dragSlider, {
        behaviour: 'drag',
        start: [ 40, 60 ],
        connect: true,
        range: {
            'min':  20,
            'max':  80
        }
    });

    setInterval(function(){
        dragSlider.noUiSlider.set([25, 75]);
    }, 1000);

    setInterval(function(){
        dragSlider.noUiSlider.reset();
    }, 1500);


</script>

</body>
</html>
